style.css

* {
    transition: background-color 0.3s ease, color 0.3s ease;
}


#target {
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.navbar-fixed {
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(4px);
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
}


.dark .navbar-fixed {
    background-color: rgba(15, 23, 42, 0.8);
}